body{
    background:#fff;
    min-height:200vh;
    margin:0;
    padding:0;
}
header{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    transition: 0.6s;
    padding:10px 0px;
    background:transparent;
    opacity: 0.9;
    z-index:2;
}
header .logo{
    position: relative;
    border:1px solid white;
    width:20%;
    height:20%;
    border-radius:50px;
    padding:10px 20px;
    margin-left:50px;
    font-weight:700;
    color:white;
    background:url('Alsah.jpg');
}
header ul{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin:0 30px;
    text-decoration: none;
    color:Black;
    letter-spacing: 1px;
    font-weight: 700;
    transition:0.6s;
}
.banner{
    position:relative;
    width:100%;
    height:100vh;
    background:url(top-view-sushi-rolls-wasabi-with-copy-space_23-2148494459.jpg);
    background-size:cover;
    background-position:center;
    box-sizing: border-box;
    box-shadow: 10px 0px 10px 0px (#000000);
}
.navigation{
    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
}
.navigation ul{
  position:relative;
  list-style:none;
}
.navigation ul li{
    display:inline-block;
    margin:10px;
    background-color: transparent;
}
.navigation ul li a{
    padding:10px 30px;
    border:1px solid black;
    border-radius:20px;
    transition:0.7s;
    color:black;
    font-size:15px;
    font-weight:700;
}
.navigation ul li a:hover{
    background-color: orangered;
    color:white;
}