body{
    background:#fff;
    min-height:200vh;
    margin:0;
    padding:0;
}
.color-bar{
    background-color: transparent;
    box-shadow:none !important;
}
.right-one{
    position:relative;
    left:300px;
}
.card-circle{
    width:300px;
    height:200px;
    border-radius:50%;
    border:none;
    overflow: hidden;
    overflow-wrap:normal;
}
.circle-border{
    width:300px;
    height:300px;
    border-radius:50%;
    border:1px solid black;
    position:relative;
    left:1100px;
    background: url(top-view-sushi-plate-with-wasabi_23-2148259203.jpg);
    background-size: cover;
    background-position: right;
   
}
.costum-btn-2{
    background-image:linear-gradient(to right,orangered,orangered,yellow);
    display:block;
    font-weight: 600;
    font-size:15px;
    border:none;
    position:relative;
    left:30px;
    width:100px;
    border-radius:30px;
    color:#fff;
}
.btn-large:hover{
    color:white;
    background-color:orangered;
    
    
}
.btn-large{
    display: block;
    border:none;
    font-size:15px;
    font-weight: 700;
    width:100%;
    letter-spacing:0;
    border-radius:30px;
    background-color:transparent;
    color:black
}
.floating-1{
    position: relative;
}
.floating-2{
    position: relative;
    bottom:50px;
}
.btn-small:hover{
    color:white;
}
.costum-btn{
    width:120px;
    display:block;
    border:none;
    border-radius:30px;
    background-image:linear-gradient(to right,orangered,orangered,yellow);
    color:white;
    font-weight:600;
    position:relative;
    left:40px;
    font-size:15px;
}
.costum-btn:hover{
    background-color: orangered;
}
.box-input{
    border:none;
    border-radius:30px;
    background-color: white;
}
.submit-btn{
    background-image:linear-gradient(to right,orangered,yellow);
    width:130px;
    height:50px;
    color:white;
    font-size:15px;
    border:none;
    border-radius:30px;
    display:block;
    position: relative;
    top:17px;
    right:80px;
}
.banner-0{
    position:relative;
    width:100%;
    bottom:100px;
    z-index:-1;
    height:120vh;
    background:url(top-view-sushi-rolls-wasabi-with-copy-space_23-2148494459.jpg);
    background-size:cover;
    background-position: center;
}
.banner{
    position:relative;
    width:100%;
    bottom:60px;
    z-index:-1;
    height:80vh;
    background:url(japanese-cuisine-sushi-roll_19485-42250.jpg);
    background-size:cover;
    background-position: center;
}
.banner-2{
    margin:30px;
}
.banner-3{
    position:relative;
    width:100%;
    height:80vh;
    background:url(top-view-sushi-day-concept-with-copy-space_23-2148494380.jpg);
    background-size:cover;
    background-position: center;
}
.banner-pemisah{
    position:relative;
    top:150px;
}
.banner-pemisah-2{
    position: relative;
    top:150px;
}
h4{
    font-weight:700;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.caption{
    top:200px;
    left:30px;
}
.caption h5{
    font-size:150px;
    font-weight: 700;
    display:flex;
    align-items: left;
    color:black;
}
.caption p{
    position:relative;
    font-size:30px;
    font-weight: 600;
}
.caption-text{
    top:0;
    left:0;
    margin:0;
    padding:0;
}
.caption-text h3{
    font-size:90px;
    font-weight:700;
    display:flex;
    align-items: left;
    color:black;
    position: relative;
    bottom:50px;
}

.caption-text .text-header{
    display:flex;
    align-items: left;
    font-size: 50px;
    font-weight: 700;
}
.caption-text .text-header-2{
    font-size:30px;
    font-weight:700;
    position: relative;
    bottom:50px;
}
.order-text{
    position: relative;
    bottom:50px;
    left:8px;
    font-size: 20px;
    font-weight:600;
}
.order-text-2{
    position: relative;
    left:8px;
    font-size: 20px;
    font-weight:600;
}
.link-item{
    margin:60px;
}
.link-item a{
    margin:8px;
    display:inline-block;
}
.footer-end{
    width:100%;
    height:80px;
    position:relative;
    top:250px;
    display: flex;
    justify-content: space-between;
}
.footer-end ul{
    position:relative;
    display:flex;
    align-items:center;
}
.footer-end ul a{
    display:block;
    position: relative;
    padding:10px 30px;
    text-decoration: none;
    color:black;
    font-size:15px;
    letter-spacing: 1px;
    font-weight: 600;
}
.footer-desain{
    color:black;
    font-size:20px;
    font-weight:700px;
    
}
.jarak{
    margin-top:15px;
}
.input-field{
    border:none;
    border-radius:30px;
    background-color: white;
    color:#000;
    padding:0px 30px;
}
.input-field input[type=text]{
    border:none;
    font-size:17px;
    top:4px;
    position: relative;
}
.input-field input[type=text]:focus{
    border:none!important;
    box-shadow: none!important;
}

@media(max-width:620px){
    header ul li a{
        display:none;
    }
    .sidenav-btn{
        color:black;
    }
    .submit-btn{
        position:relative;
        right:80px;
        top:14px;
        height:50px;
    }
    .banner-pemisah{
        position:relative;
        top:170px;
    }
    .banner-pemisah-2{
        position:relative;
        top:80px;
    }
    .caption{
        top:200px;
        left:30px;
    }
    .caption h5{
        font-size:100px;
        font-weight: 700;
        display:flex;
        align-items: left;
        color:black;
    }
    .caption p{
        position:relative;
        font-size:20px;
        font-weight: 600;
    }
    .circle-border{
        width:300px;
        height:300px;
        position:relative;
        left:300px;
    }
    .caption-text{
        top:0;
        left:0;
        margin:0;
        padding:0;
    }
    .right-one{
        position:relative;
        left:170px;
    }
    .banner{
        width:100%;
        height:60vh;
        background-position: center;
    }
    .banner-0{
        width:100%;
        height:80vh;
    }
    .costum-btn-2{
        position: relative;
        left:150px;
    }
}
