body{
    background-image:url(Alsah.jpg);
    background-size: cover;
    
}
.card-area{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
}
.single-box{
    position: relative;
    display:flex;
    flex-direction: column;
    width:300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:20px;
    padding:10px;
    border-radius:5px;
    transition: 0.3s;
    color:white;
    background-color: rgb(12, 12, 12);
    opacity: 0.9;
}
p{
    text-align:left;
}
.single-box:hover{
    background-color: #e84393;
}
.img-area:hover{
    border:5px solid white;
}
.single-box:nth-child(1) .img-area{
    background-image:url(Alsah.jpg);
}
.single-box:nth-child(2) .img-area{
    background-image:url(Alsah.jpg);
}
.single-box:nth-child(3) .img-area{
    background-image:url(Alsah.jpg);
}
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:80px;
    border:5px solid #e84393;
    border-radius:50%;
    margin-bottom:10px;
    padding:20px;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}
