body{
    background:#fff;
    min-height:200vh;
    margin:0;
    padding:0;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: 0.6s;
    padding:10px 0px;
    background:#000000;
    opacity: 0.9;
    z-index:2;
}
header .sticky{
    padding:5px 0px;
    background:#fff;
}
header .logo{
    position: relative;
    border:1px solid white;
    padding:10px 50px;
    margin-left:50px;
    font-weight:400;
    color:white;
}
header ul{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin:0 30px;
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
    font-weight: 400;
    transition:0.6s;
}
.banner{
    position:relative;
    width:100%;
    height:100vh;
    background:url(Image.jpg);
    background-size:cover;
}
